@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Phudu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
/*Estilos para etiquetas*/
body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
ul li {
    list-style: none;
}
span {
    color: rgb(255, 217, 2);
}

a {
    text-decoration: none;
    color: black;
}
textarea {
    font-family: 'Oswald', sans-serif ;
    border: .5px solid yellow;
    border-radius: 5px;
}
form {
    margin-left: 10%;
    padding: 10px;
    width: 100%;
}
footer {
    margin-top: 20px;
}
/*--------------------------------------------*/
.flecha {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
#imgFlecha {
    width: 40px;
}

/*BANNER PRINCIPAL */
.principal {
    height: 600px;
    text-align: center;
    align-items: center;
    position: relative;
}
.principal h2 {
    text-transform: uppercase;
    font-weight: 500;
    align-items: center;
    font-size: 40px;
    width: 280px;
    color: white;
    text-align: center;
}
.principal h3 {
    color: rgb(255, 217, 2);
}
#principal {
    background-image:linear-gradient(
    rgba(10, 25, 74, 0.534),
    rgba(15, 18, 92, 0.566)
    ), url(./img/5006ea02-d490-4848-a1a8-09fe59afd30f.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: -1;
    height: 650px;
}
.banner {
    margin-top: -40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*------------------------------------------------*/
/* HABILIDADES ICONOS */
.habilidades {
    display: grid;
    grid-template-columns:repeat(4, 200px) ;
    grid-template-rows: repeat(3,1fr);
    grid-gap: 20px;
    grid-template-areas:
    "nada html nada1 css"
    "js nada2 bs nada3"
    "nada4 git nada5 sass";
}
.html{
    grid-area: html;
}
.css {
    grid-area: css;
}
.js {
    grid-area: js;
}
.bootstrap {
    grid-area: bs;
}

.card-habilidades {
    height: 180px;
    width: 180px;
    box-shadow: 1px 1px 7px rgba(255, 217, 2, 0.904) ;
    border: .5px solid rgba(128, 128, 128, 0.111);
    border-radius: 50%;
}
.card-habilidades i {
    margin-top: 22%;
    transition: .7s ease-in-out;
}
.card-habilidades:hover i {
    transform: rotate(360deg) scale(1.5);

} 
.cartel {
    margin-left: 13%;
    box-shadow: 0px 0px 2px grey;
    background-color: rgba(0, 0, 0, 0.353);
    color: white;
    font-weight: 300;
    width: 100px;
    border-radius:5px ;
    position: absolute;
    opacity: 0;
    transition: opacity 1.2s;
    
}

.card-habilidades:hover .cartel {
    transition: 1.2s;
    opacity: 1;
}
.git {
    grid-area: git;
}
.sass {
    grid-area: sass;
}
.fa-brands {
    font-size: 100px;
    margin-top: 20px;
}

.perfil {
    width: 250px;
    height: 250px;
    box-shadow: 1px 1px 6px rgba(255, 217, 2, 0.44) ;
    border-radius: 50%;
}
/*-------------------------------------------------------*/


/* FORMULARIO */
.form-contacto {
    text-align: start; 
    border-radius: 5px;
    background-color:rgba(72, 72, 72, 0.082) ;
    margin-left: 2%;
}
.form-contacto p {
    font-weight: 300;
}

.form-contacto input {
    width: 75%;
    height: 25px ;
    border: .5px solid yellow;
    border-radius: 5px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
    margin-top: 5px;
    margin-bottom: 10px;
  }
.btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
.btn-14:hover {
    color: #000;
}
  .btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}
  .btn-14:active {
    top: 2px;
}
/*-----------------------------------------------*/
/*SOBRE MI*/
.sobre-mi {
    text-align: start;
    font-weight: 300;
}

.card-sobre-mi{
    text-align: start;
    margin: 10px;
    padding: 15px;
    border-radius: 7px;
    padding-top: 0px;
    box-shadow:1px 1px 8px rgba(128, 128, 128, 0.725);
    width: 65%;
    margin-left: 13%;
    position: relative;
    transition: .9s;
}
.card-sobre-mi h2 {
    position: relative;
}
.card-sobre-mi:hover h2 {
    color: white;
    transition: .8s;
}
.card-sobre-mi ul {
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.card-sobre-mi ul li {
    padding:13px;
    font-size: 17px;
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    clip-path: circle(50px at 99% 10px );
    transition: .9s;
}
.card-sobre-mi:hover .circle:before {
    clip-path: circle(1600px at center);
    
}
.lista-sobre-mi li {
    font-weight: 300; 
}

/*-------------------------------------------------------------*/

/*PROYECTOSS*/
.container-proyecto {
    height: 700px;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "nada card1 card2 nada1"
    "nada card3 card3 nada1";
    grid-gap: 30px;
}
.card1 {
    grid-area: card1 ;
}
.card2 {
    grid-area: card2 ;
}
.card3 {
    grid-area: card3 ;
}
.cardProyect {
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.403);
    border-radius: 10px;
}
/*---------------------------------------------------------------------*/

/*HEADER NAV*/
.header span {
    color: #fff;
}
.logoNombre a {
    color: white;
}
.logoNombre {
    font-size: 19px;
}
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
}

.navbar-list {
    display: none;
}
.header i {
    font-size: 26px;
    width: 26px;
    color: rgb(255, 217, 2);
    display: none;
}
.colorNavMov {
    background-color: #fff;
    box-shadow: 0px 8px 10px grey;
    transition: 0.7s ease;
    z-index: 100;
}
/*-------------------------------------------*/
/*SKILLS*/
.skills {
    width: 80%;
    margin-left: 10%;
}

/*--------------------------------------------*/  
.menu li {
    margin-right: 70px;
}
  
.menu a {
    position: relative;
    display: block;
    padding: 5px;
    font-size: 19px ;
}
  
.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ffe600, #d8bb19, #ffb109);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
  
.menu a:hover::before {
    transform: scaleX(1);
}
  
  
  /* ANIMATIONS*/
.menu[data-animation="to-left"] a::before {
    transform-origin: right;
}
  
.menu[data-animation="center"] a::before {
    transform-origin: center;
}
  
.menu[data-animation="bonus"] a::before {
    transform-origin: right;
}
  
.menu[data-animation="bonus"] a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}
.subrayado-ul {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ffe600, #d8bb19, #ffb109);
    z-index: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 600px){
    .principal {
        height: 500px;
    }
    .principal h2 {
        color: white;
        text-align: center;
        margin-top: -10px;
    }
    .principal h3 {
        margin-top: -30px;
    }
    .banner {
        margin-top: -5px;
    }
    .visible {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        transition: .5s;
    }
    .navbar-list {
        background-color: white;
        border-radius: 1px;
        width:475%;
        margin-top: 0;
        height: 400px;
        transition: .5s;
    }
    .navbar-list li {
        padding-top:20px ;
        padding-bottom:20px ;
    }
    .navbar-list li a {
        color: black;
        font-size: 300;
        letter-spacing: 1px;
    }
    .logo {
        position: absolute;
        top: 0;
        width: 150px;
        color: white;
        z-index: 2;
        margin-left: 70%;
    }
    .logo span {
        color: rgb(255, 217, 2);
    }
    .menu-icon {
        width: 40px;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .header i {
        display: flex;
        font-size: 29px;
    }
    .header{
        z-index: 99999;
        height: 50px;
        width: 100%;
        transition: .7s;
    }
    .contenedor-menu {
        margin-left: -7px;
        width: 100%;
        height: 200px;
    }
    .toggle-menu {
        padding: 10px;
    }
    .habilidades {
        margin-left: 5%;
    }
    .container-proyecto {
        grid-template-columns:repeat(1, 1fr) ;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "card1"
        "card2"
        "card3";
        width: 90%;
        margin: 30px;
        grid-gap:30px;
    }
    .habilidades {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "html css"
        "js bs"
        "git sass";
    }
    .img-qr img {
        width: 250px;
        border-radius: 8px 8px 0 0;
        text-align: center;
    }
    .img-qr {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .titulo-qr {
        display: flex;
        justify-content: center;
    }
    .form-contacto {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (min-width: 601px) and (max-width: 1100px){
    .habilidades{
        display: grid;
        grid-template-columns:repeat(3, 1fr) ;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        "html css js"
        "bs git sass";
    }
    .header i {
        display: none;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }
    #navbar-list1 {
        display:flex;
    }
    .navbar-list li {
        margin-right: 60px;
    }
    .navbar-opciones {
        color: white;
        position: relative;
    }
    .logoNombre span {
        color: rgb(255, 217, 2);
    }
    #principal {
        border: 1px solid white;
    }
    .colorLogo {
        color:#000;
    }
    .container-proyecto {
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: "card1 card2 card3";
        height: 400px;
        width: 100%;
        margin-left: 3%;
        grid-gap:20px ;
    }
    .skills {
        margin-left: 5%;
    }
    .img-qr img {
        width: 350px;
        border-radius: 8px 8px 0 0;
        text-align: center;
    }
    .img-qr {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .titulo-qr {
        display: flex;
        justify-content: center;
    }
    .form-contacto {
        width: 100%;
        margin-left:10%;
    }
}
@media screen and (min-width: 950px) {
    .img-qr img {
    width: 350px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    }
    .img-qr {
    display: flex;
    justify-content: center;
    margin: 40px 30px;
    }
    .titulo-qr {
    display: flex;
    justify-content: center;
    }
    .form-contacto {
        display: flex;
    }
    /* HABILIDADES ICONOS */
.habilidades {
    width: 84%;
    margin:50px auto ;
    display: grid;
    grid-template-columns:repeat(4, 150px) ;
    grid-template-rows: repeat(3, 170px);
    grid-gap: 20px;
    grid-template-areas:
    "nada html nada1 css"
    "js nada2 bs nada3"
    "nada4 git nada5 sass";
}
.html{
    grid-area: html;
}
.css {
    grid-area: css;
}
.js {
    grid-area: js;
}
.bootstrap {
    grid-area: bs;
}

.card-habilidades {
    height: 180px;
    width: 180px;
    margin: 5px;
    box-shadow: 1px 1px 7px rgba(255, 217, 2, 0.904) ;
    border: .5px solid rgba(128, 128, 128, 0.111);
    border-radius: 50%;
}
.card-habilidades h3 {
    margin-top: -3px;
}
.git {
    grid-area: git;
}
.sass {
    grid-area: sass;
}
.fa-brands {
    font-size: 100px;
    margin-top: 20px;
}

.perfil {
    width: 250px;
    height: 250px;
    box-shadow: 1px 1px 6px rgba(255, 217, 2, 0.44) ;
    border-radius: 50%;
}
.form-contacto {
    width: 100%;
    margin-left:2%;
}
}
@media screen and (min-width: 1101px) {
    .navbar-list li {
        margin-right: 60px;
    }
    .navbar-list {
        display: flex;
    }
    .navbar-opciones {
        color: white;
    }
    .logoNombre span {
        color: rgb(255, 217, 2);
    }
    .sobre-mi {
        display: flex;
        margin: 0px;
        height: 500px;

    }
    .card-sobre-mi {
        margin: 0;
        margin: 3%;
    }
   
}
@media screen and (min-width: 1300px) {
    #principal{
     height: 750px;
    }
    .form-contacto {
        width: 100%;
        margin-left:0%;
    }
    .subrayado-ul {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #ffe600, #d8bb19, #ffb109);
        z-index: 1;
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }
}
@media screen and (min-width: 1600px) {
    .card-habilidades {
        margin-left: 100%;
    }
    .cartel {
        margin-left: 10%;
    }
    #principal {
        height: 950px;
    }
}
